m-R2-con-1.png
m-R2-con-2.png
m-R2-con-3.png
m-R2-con-4.png
m-R2-con-predicted-1.png
m-R2-con-predicted-2.png
m-R2-con-predicted-3.png
m-R2-con-predicted-4.png
m-R2-policy-1.png
m-R2-policy-2.png
m-R2-policy-3.png
m-R2-policy-4.png
m-R2-policy-predicted-1.png
m-R2-policy-predicted-2.png
m-R2-policy-predicted-3.png
m-R2-policy-predicted-4.png
m-R2-ratio-1.png
m-R2-ratio-2.png
m-R2-ratio-predicted-1.png
m-R2-ratio-predicted-2.png
m-R2-ratio-predicted-3.png
m-R2-ratio-predicted-4.png
m-R2-total-1.png
m-R2-total-2.png
m-R2-total-3.png
m-R2-total-4.png
m-R2-total-predicted-1.png
m-R2-total-predicted-2.png
m-R2-total-predicted-3.png
m-R2-total-predicted-4.png
m-old-con-1.png
m-old-con-2.png
m-old-con-3.png
m-old-con-4.png
m-old-con-predicted-1.png
m-old-con-predicted-2.png
m-old-con-predicted-3.png
m-old-con-predicted-4.png
m-old-policy-1.png
m-old-policy-2.png
m-old-policy-3.png
m-old-policy-4.png
m-old-policy-predicted-1.png
m-old-policy-predicted-2.png
m-old-policy-predicted-3.png
m-old-policy-predicted-4.png
m-old-ratio-1.png
m-old-ratio-2.png
m-old-ratio-predicted-1.png
m-old-ratio-predicted-2.png
m-old-ratio-predicted-3.png
m-old-ratio-predicted-4.png
m-old-total-1.png
m-old-total-2.png
m-old-total-3.png
m-old-total-4.png
m-old-total-predicted-1.png
m-old-total-predicted-2.png
m-old-total-predicted-3.png
m-old-total-predicted-4.png
sim-cross-1.png
sim-cross-2.png
sim-cross-3.png
sim-cross-4.png
sim-cross-5.png
sim-cross-6.png
sim-dnd-1.png
sim-dnd-2.png
sim-dnd-3.png
sim-dnd-4.png
sim-dnd-5.png
sim-dnd-6.png
sims-1.png
sims-2.png
sims-3.png
sims-4.png
sims-5.png
sims-6.png
