appendix_files
c_15.aux
c_15.log
c_15.nav
c_15.out
c_15.pdf
c_15.snm
c_15.toc
c_pres.aux
c_pres.log
c_pres.nav
c_pres.out
corr.bbl
corr.log
corr.toc
corr_enp comments.pdf
corr_enp comments_2020.pdf
c_pres.toc
c_pres_2020.aux
c_pres_2020.log
c_pres_2020.nav
c_pres_2020.out
c_pres_2020.snm
c_pres_2020.toc
corr (Devin Judge-Lord's conflicted copy 2022-01-27).tex
corr (Justin Grimmer's conflicted copy 2021-02-21).pdf
corr missing devin's thurs edits but Grimmer FOIA table.tex
corr-devin conflict thurs.tex
corr.synctex.gz
corr.text
c_pres.snm
CorrScan_JM.pdf
corr (Devin Judge-Lord's conflicted copy 1).toc
corr (Devin Judge-Lord's conflicted copy).toc
archive
corrsmall.pdf
